<h4 class="dispaly-4">Invoice Line Details</h4>
<hr>
<div class="container">
  <div class="col-md-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12">
              <form [formGroup]="service.formInvoiceLine" autocomplete="off" (submit)="onSubmit()">
                <input hidden class="form-control" formControlName="SaleInvoiceLineId">
                <input hidden class="form-control" formControlName="SaleInvoiceId">
                <div class="form-group">
                    <label>Warehouse</label>
                    <select class="form-control" formControlName="WarehouseId" (change)="onChangeWarehouse($event)">
                      <option value="0">-Select Warehouse-</option>
                      <option *ngFor="let item of warehouseList" value="{{item.WarehouseId}}">{{item.WarehouseName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Inventory</label>
                    <select class="form-control" formControlName="InventoryId" (change)="onChangeInventory($event)">
                      <option value="0">-Select Inventory-</option>
                      <option *ngFor="let item of inventoryList" value="{{item.InventoryId}}">{{item.InventoryDesr}}</option>
                    </select>
                </div>
                <div class="form-group required">
                  <label>Qty</label>
                  <input class="form-control" formControlName="Qty">
                  <label class="text-danger" *ngIf="service.formInvoiceLine.get('Qty').touched && service.formInvoiceLine.get('Qty').errors?.required">This field is mandatory.</label>
                </div>
                <div class="form-group required">
                  <label>Weight</label>
                  <input class="form-control" formControlName="Weight" (change)="updatePrice($event.target.value,2)">
                  <label class="text-danger" *ngIf="service.formInvoiceLine.get('Weight').touched && service.formInvoiceLine.get('Weight').errors?.required">This field is mandatory.</label>
                </div>
                <div class="form-group required">
                    <label>Unitprice</label>
                    <input class="form-control" formControlName="Unitprice" (change)="updatePrice($event.target.value,1)">
                    <label class="text-danger" *ngIf="service.formInvoiceLine.get('Unitprice').touched && service.formInvoiceLine.get('Unitprice').errors?.required">This field is mandatory.</label>
                </div>
                <div class="form-group required">
                    <label>ExtAmount</label>
                    <input class="form-control" formControlName="ExtAmount" readonly>
                    <label class="text-danger" *ngIf="service.formInvoiceLine.get('ExtAmount').touched && service.formInvoiceLine.get('ExtAmount').errors?.required">This field is mandatory.</label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                  <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
                </div>
              </form>
          </div>
        </div>
      </div>
  </div>
</div>
