<div class="row">
  <div class="col-md-12 mat-elevation-z8">  
    <div class="row">
      <div class="col-md-4">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
      </div>         
    </div>  
    <table class="table table-hover" mat-table [dataSource]="service.list" matSort>
      <ng-container matColumnDef="ProjectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
        <td mat-cell *matCellDef="let element" (click)="service.populateForm(element)"> {{element.ProjectName}} </td>
      </ng-container>
      <ng-container matColumnDef="WarehouseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Name </th>
        <td mat-cell *matCellDef="let element" (click)="service.populateForm(element)"> {{element.WarehouseName}} </td>
      </ng-container>
      <ng-container matColumnDef="InventoryDesc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventory Desc </th>
        <td mat-cell *matCellDef="let element" (click)="service.populateForm(element)"> {{element.InventoryDesc}} </td>
      </ng-container>
      <ng-container matColumnDef="DateGrow">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Grow </th>
        <td mat-cell *matCellDef="let element" (click)="service.populateForm(element)"> {{element.DateGrow | date}} </td>
      </ng-container>
      <ng-container matColumnDef="Weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let element" (click)="service.populateForm(element)"> {{element.Weight}} </td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> 
          
        </th>
        <td mat-cell *matCellDef="let element"> 
            <i class="fa fa-trash-alt fa-lg text-danger" (click)="onDelete(element.DailyGrowId)"></i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>