<div class="row">
  <div class="col-md-12 mat-elevation-z8">  
    <div class="row">
      <div class="col-md-4">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn btn-primary" (click)="syncCustomers()">Sync</button>
      </div>         
    </div>  
    <table class="table table-hover" mat-table [dataSource]="service.list" matSort>
      <ng-container matColumnDef="CustomerCD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Id </th>
        <td mat-cell *matCellDef="let element" (click)="populateForm(element)"> {{element.CustomerCD}} </td>
      </ng-container>
      <ng-container matColumnDef="CustomerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
        <td mat-cell *matCellDef="let element" (click)="populateForm(element)"> {{element.CustomerName}} </td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> 
          
        </th>
        <td mat-cell *matCellDef="let element"> 
            <i class="fa fa-trash-alt fa-lg text-danger" (click)="onDelete(element.CustomerId)"></i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button type="button" class="btn btn-outline-warning" (click)="getCustomerByLastRecord()">Load more</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>