<div *ngIf="isLoaded">
  <app-menus></app-menus>
  <div class="container">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron">
            <h1 class="display-6 text-center">Daily Project Performance</h1>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="service.formDaily" autocomplete="off" (submit)="onSubmit()">
                      <div class="form-group">
                        <label>Project</label>
                        <select class="form-control" formControlName="ProjectId" required (change)="onChangeProject($event)">
                          <option value="0">-Select-</option>
                          <option *ngFor="let item of projectList" value="{{item.ProjectId}}">{{item.ProjectName}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Standard Animal</label>
                        <select class="form-control" formControlName="StdAnimalId" required>
                          <option value="0">-Select-</option>
                          <option *ngFor="let item of filterItemsOfType('ANIMAL')" value="{{item.StandardNameId}}">{{item.Standard}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Standard Feed</label>
                        <select class="form-control" formControlName="StdFeedId" required>
                          <option value="0">-Select-</option>
                          <option *ngFor="let item of filterItemsOfType('FEED')" value="{{item.StandardNameId}}">{{item.Standard}}</option>
                        </select>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formDaily.valid">Load</button>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoaded">
  <input type="button" value="Print" class="btn float-left" (click)="captureScreen()"/> 
  <input type="button" value="Back" class="btn float-left" (click)="LoadAgain()"/> 
</div> 
<div id="contentToConvert" *ngIf="!isLoaded">
  <h2 class="display-6 text-center">Daily Performance Of {{projectheader}}</h2>
  <mat-list>
    <mat-list-item>Total Dead:{{getTotalDead()}} | Total Feed: {{getTotalFeed()}} | Total Qty Sold:{{getTotalQtySold()}} | Total Weight Sold: {{getTotalWeightSold()}} | Total Amount: {{getTotalAmount()}} | FCR: {{getFCR()}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
          <th>Daily Date</th>
          <th>#Day</th>
          <th>#Dead</th>
          <th>Acual Feed</th>
          <th>Standard Feed</th>
          <th>Acual Weight</th>
          <th>Standard Animal</th>
          <th>Qty Sold</th>
          <th>Amount</th>
        </tr>
    </thead>
    <tr *ngFor="let pd of dailyList">
      <td >{{pd.DailyDate | date}}</td>
      <td >{{pd.NumberOfDay}}</td>
      <td >{{pd.AnimalDead}}</td>
      <td >{{pd.AcualFeed}}</td>
      <td >{{pd.ResultOfDayFeed}}</td>
      <td>{{pd.AcualAnimalWeight}}</td>
      <td >{{pd.ResultOfDayAnimal}}</td>
      <td>{{pd.QtySale}}</td>
      <td>{{pd.ExtAmount}}</td>
    </tr>
  </table>
</div>
