<div class="container">
  <div class="col-md-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12">
              <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
                <input hidden class="form-control" formControlName="DailyGrowId">
                <div class="form-group">
                    <label>Project</label>
                    <select class="form-control" formControlName="ProjectId"   (change)="service.onChangeProject($event)">
                      <option value="0" >-Select Project-</option>
                      <option *ngFor="let item of projectList" value="{{item.ProjectId}}">{{item.ProjectName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Warehouse</label>
                    <select class="form-control" formControlName="WarehouseId" (change)="onChangeWarehouse($event)">
                      <option value="0">-Select Warehouse-</option>
                      <option *ngFor="let item of service.warehouseList" value="{{item.WarehouseId}}">{{item.WarehouseName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Inventory</label>
                    <select class="form-control" formControlName="InventoryId" (change)="onChangeInventory($event)">
                      <option value="0">-Select Inventory-</option>
                      <option *ngFor="let item of inventoryList" value="{{item.InventoryId}}">{{item.InventoryDesr}}</option>
                    </select>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <input class="form-control" formControlName="DateGrow" matInput [matDatepicker]="myDatepicker1" placeholder="Choose date">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group required">
                  <label>Weight</label>
                  <input class="form-control" formControlName="Weight">
                  <label class="text-danger" *ngIf="service.formModel.get('Weight').touched && service.formModel.get('Weight').errors?.required">This field is mandatory.</label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                  <a class="btn btn-outline-dark ml-1" routerLink="/viewwithstandard"><i class="fa fa-table"></i> View With Standard</a>
                </div>
              </form>
          </div>
        </div>
      </div>
  </div>
</div>
