<app-menus></app-menus>
<div class="jumbotron">
  <h1 class="display-4 text-center">Animal Grow With Standard</h1>
  <hr>
  <div class="row">
    <div class="col-md-12 mat-elevation-z8">
      <div class="row">
          <div class="col-md-8">
            <form #form="ngForm" (submit)="onSubmit()">
              <div class="form-row">
                <div class="form-group">
                  <select class="form-control" name="projectId" [(ngModel)]="projectId">
                    <option value="0" >-Select Project-</option>
                    <option *ngFor="let item of projectList" value="{{item.ProjectId}}">{{item.ProjectName}}</option>
                  </select>
                </div>
                <button mat-button type="submit" [disabled]="form.invalid">Load...</button>
              </div>
            </form>
          </div>
          <div class="col-md-4">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
          </div>
      </div>
      <table class="table table-hover" mat-table [dataSource]="animalgrowList" matSort>
          <ng-container matColumnDef="ProjectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ProjectName}} </td>
          </ng-container>
          <ng-container matColumnDef="WarehouseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Name </th>
            <td mat-cell *matCellDef="let element"> {{element.WarehouseName}} </td>
          </ng-container>
          <ng-container matColumnDef="InventoryDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventory Desc </th>
            <td mat-cell *matCellDef="let element"> {{element.InventoryDesc}} </td>
          </ng-container>
          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acual Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.Weight}} </td>
          </ng-container>
          <ng-container matColumnDef="DateGrow">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Grow </th>
            <td mat-cell *matCellDef="let element"> {{element.DateGrow | date}} </td>
          </ng-container>
          <ng-container matColumnDef="ResultOfDay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Standard </th>
              <td mat-cell *matCellDef="let element"> {{element.ResultOfDay}} </td>
            </ng-container>
          <ng-container matColumnDef="NumberOfDay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Day </th>
            <td mat-cell *matCellDef="let element"> {{element.NumberOfDay}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
 
  </div>
</div>
