<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="ProjectId" [value]="service.formData.ProjectId">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
              <i class="fas fas fa-tasks" [class.green-icon]="ProjectName.valid" [class.red-icon]="ProjectName.invalid"></i>
          </div>
        </div>
        <input name="ProjectName" #ProjectName="ngModel" [(ngModel)]="service.formData.ProjectName" class="form-control" placeholder="ProjectName" required>
      </div>
    </div>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-warehouse" [class.green-icon]="WarehouseId.valid" [class.red-icon]="WarehouseId.invalid"></i>
            </div>
          </div>
          <select name="WarehouseId" #WarehouseId="ngModel" [(ngModel)]="service.formData.WarehouseId" class="form-control"
          [class.is-invalid]="service.formData.WarehouseId==0">
            <option value="0">-Select Warehouse-</option>
            <option *ngFor="let item of warehouseList" value="{{item.WarehouseId}}">{{item.WarehouseName}}</option>
          </select>
        </div>
    </div>
    <div class="form-group">
        <mat-form-field>
          <input name="StartDate" #Status="ngModel" [(ngModel)]="service.formData.StartDate" matInput [matDatepicker]="myDatepicker1" placeholder="Choose a start">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
          <input name="EndDate" #Status="ngModel" [(ngModel)]="service.formData.EndDate" matInput [matDatepicker]="myDatepicker2" placeholder="Choose a end">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-thermometer-three-quarters" [class.green-icon]="Status.valid" [class.red-icon]="Status.invalid"></i>
            </div>
          </div>
          <select name="Status" #Status="ngModel" [(ngModel)]="service.formData.Status" class="form-control">
            <option value="">-Select-</option>
            <option value="Active">Active</option>
            <option value="Complete">Complete</option>
          </select>
        </div>
    </div>
        
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i>Submit</button>
    </div>
  </form>