<form [formGroup]="service.formModel" autocomplete="off">
  <div class="form-group">
    <input hidden class="form-control" formControlName="WarehouseAccessId">
  </div>
  <div class="form-group required">
    <label>Warehouse</label>
    <select class="form-control" formControlName="WarehouseId" (change)="onChange($event.target.value)" >
      <option value="0">-Select Warehouse-</option>
      <option *ngFor="let item of warehouseList" value="{{item.WarehouseId}}">{{item.WarehouseName}}</option>
    </select>
    <label class="text-danger" *ngIf="service.formModel.get('WarehouseId').touched && service.formModel.get('WarehouseId').errors?.required">This field is mandatory.</label>
  </div>
</form>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Users List</label>                     
        <table class="table table-hover">
          <tr *ngFor="let item of userList">
            <td>{{item.UserName}}</td>
            <td width="5%"><i class="fas fa-minus" (click)="onDelete(item)"></i></td>
            <td width="5%"><i class="fas fa-plus" (click)="onAdd(item)"></i></td>
          </tr>
        </table>
      </div> 
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <tr *ngFor="let item of userwarehouseChange">
        <td>{{item.UserName}}</td>
      </tr>
    </table>
  </div>
  
